:root {
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: #aaaaaa;
  --bg-primary: #d2e7f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-primary) !important;
  color: #2c3e50;
  font-family: var(--font-primary);
}